.seg_info{
  height:auto;
  color:black;
}
.nospace{
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}
.resume{
  padding: 10px;
}
.titledis{
  padding: 10px;
  text-indent: -10px;
  display: inline-block;
  text-align: left;
  width: 56%;
  border-radius: 10px;
}
.spanleft{
  width: 45%;
  display: inline-block;
  float: left;
  text-align: left;
}
.spanright{
  width: 55%;
  display: inline-block;
  float: left;
  text-align: left;
}
.width100{
  width: 100%;
  display: inline-block;
  text-align: left;
}
.nextsec{
  padding: 10px;
  margin-top:-15px;
  width: 100%;
}

.left_line{
  text-align: left;
  clear: both;
}
.project64{
  width:56%;
  height:auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.bold{
  font-weight: bold;
}
.space{
  letter-spacing:0.5px;
}
.fontz{
  font-size:0.9em;
}
.width100{
  width: 100%;
  line-height: 1.5;
  display: inline-block;
  text-align: left;
}
.h3hover{color: #333;}
.h3hover:hover{
  text-decoration: underline;
}
.footer{
  background: #333;
  display: block;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 0.9em;
}
.f16{
  font-size: 16px;
}
