.margin{
    margin-top: 1%;
    margin-bottom: 3%;
    width: auto;
    display: block;
}
.auto{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}
.brief{
    padding-top: auto;
    padding-bottom: auto;
    margin-left: 10%;
    font-size: 1.25em;
    display: block;
    color: #444444;
    margin-bottom: 2%;
}