/********use css begin*****************************************/
*
{
  padding: 0px;
  margin: 0px;
}
.header
{
  margin-top: 18px;
  height: 28px;
  background-color:#2b2b2d;
}
.container_top
{
  height: 28px;
  font-size:20px;
  color:white;
  /*background-color: blue;*/
}
.inblock{
  display: inline-block;
  float: left;

}
.return_icon
{
  font-size:28px;
}

/***dasdad*********************************************dsadsadada*/
.return_word
{
  padding-left: 5px;
  margin-top: 6px;
  height: 25px;
  line-height: 25px;
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#ffffff;
  text-align:left;
}
.banner_title
{
  padding-left: 10px;
  margin-top: 6px;
  height: 25px;
  line-height: 25px;
  font-family:PingFangSC-Medium;
  font-size:18px;
  color:#ffffff;
  text-align:left;
  overflow: hidden;
  text-overflow:ellipsis;
}
.moreicon
{
  height: 20px;
  margin-top: 10px;
  float: right
}
.article-title
{
    font-family:PingFangSC-Regular;
    font-size:24px;
    color:#000000;
    text-align:left;
    display: inline-block;
    margin-top: 45px;
}
.article_date
{
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#8c8c8c;
  text-align:left;
}
.article_date
{
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#8c8c8c;
  text-align:left;
}
.container_picword
{
  margin-top: 26px;
}

.article_date{
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#8c8c8c;
  text-align:left;
}
.article_author{
  margin-left: 14px;
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#6b86ab;
  text-align:left;
}
.main_pic_word
{
    clear: both;
    margin-bottom: 38px;
}
.main_Pic{
    width: 100%;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#474747;
    text-align:left;
    display: block;
}
.main_word{
    width: 100%;
    display: block;
    margin-top: 20px;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#474747;
    text-align:left;
}
.page_data
{
    width: auto;
    display: block;
    height: 21px;
}
.page_read{
    display: inline-block;
    height: 21px;
    line-height: 21px;
    float: left;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#8c8c8c;
    text-align:left;
}
.page_readnumber
{
    display: inline-block;
    height: 21px;
    line-height: 21px;
    width: auto;
    float: left;
    margin-left: 10px;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#8c8c8c;
    text-align:left;
}

.page_like
{
    width: auto;
    margin-top: 0px;
    height: 17px;
    float: left;
    display: inline-block;
    margin-left:24px;
}
.like_icon1
{
    width: 15px;
    line-height: 15px;
    height:auto;
    padding-bottom: 3px;
}
.page_likenumber
{
    display: inline-block;
    height: 21px;
    width: 14%;
    float: left;
    margin-left: 6px;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#8c8c8c;
    text-align:left;
}
.page_complain{
    height: 21px;
    line-height: 21px;
    float: right;
    width: auto;
    text-align: right;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#8c8c8c;
}
.hrline
{
   margin-top: 14px;
   margin-bottom: 25px;
}

.margintop25
{
  margin-top: 25px;
}
.comment_header_left{
    width: 7px;
    height: 18px;
    margin-right: 9px;
    background:#feda00;
    display: inline-block;
    float: left;
}
.latest_comment_title
{
    width: 66%;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    float: left;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#474747;
    text-align:left;
}
.marginbottom
{
  margin-bottom:28px;
}
.block_write_comment
{
    width: auto;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#5c78aa;
    text-align:right;
    height: 21px;
    line-height: 21px;
    margin-top: 5px;
}
.write_comment_icon
{
    width: 13px;
    height: auto;
    padding-bottom: 5px;
}
.comment_every
{
    float: left;
    width:100%;
    height:auto;
    margin-bottom: 28px;
}
.comment_left
{
    width: 10%;
    height:auto;
    display: block;
    float: left;
}
.comment_center
{
    padding-left: 10px;
    width: 90%;
    height: auto;
    display: block;
    float: left;
    display: inline-block;

}
.comment_center_top
{
    height: 21px;

}
.comment_username
{
    height: 21px;
    line-height:21px;
    display: inline-block;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#6c6c6c;
    text-align:left;
}
.comment_like_icon
{
    width: 21px;
    display: inline-block;
    float: right;
    margin-top: 4px;
}
.comment_like_number
{
    height: 21px;
    line-height:21px;
    font-family:PingFangSC-Regular;
    font-size:17px;
    display: inline-block;
    padding-left: 5px;
    color:#8c8c8c;
    text-align:left;
    float: right;
}
.comment_center_middle
{
    margin-top: 5px;
    width: 80%;
    font-family:PingFangSC-Regular;
    font-size:15px;
    color:#474747;
    text-align:left;
}
.comment_center_bottom{
    margin-top: 7px;
    font-family:PingFangSC-Regular;
    font-size:12px;
    color:#909090;
    text-align:left;
}
.comment_left_avatar
{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    height:auto;
}

.comment_like
{
    height: 21px;
    display: inline-block;
    float: right;
    display: inline-block;
}
.comment_like_icon
{
    width: 15px;
    height:auto;
    margin-left: 5px;
}
.comment_likenumber
{
    display: inline-block;
    float: right;
    height: 21px;
    padding-left: 2px;
    text-align: right;
    background-color: orange;
    font-family:PingFangSC-Regular;
    font-size:17px;
    color:#8c8c8c;
}
.more_comment
{
  display: block;
  font-family:PingFangSC-Regular;
  font-size:15px;
  color:#6b86ab;
  text-align:right;
  margin-top: -21px;
}

.margintop24
{
  margin-top: 24px;
  /*background-color: orange;*/
}
.relate_article
{
  /*background-color: green;*/
  margin-bottom: 13px;
}
.relate_article_title
{
  font-family:PingFangSC-Medium;
  font-size:14px;
  color:#646464;
  text-align:left;
  display: block;
  margin-bottom: 4px;
}
.relate_article_author
{
  font-family:PingFangSC-Regular;
  font-size:12px;
  color:#bcbcbc;
  text-align:left;
}
.relate_article_read
{
  margin-left:20px;
  font-family:PingFangSC-Regular;
  font-size:12px;
  color:#bcbcbc;
  text-align:left;
}
.hrtop34
{
  display: block;
  margin-top: 6px;
  margin-bottom: 0px;
}
.recommend
{
  height:45px;
  margin-top:25px;
  margin-bottom:24px;
}
.recommend_download
{
    width: auto;
    height: 45px;
    background:#feb000;
    line-height: 45px;
    text-align: center;
    border-radius:8px;
    font-family:PingFangSC-Regular;
    font-size:17px;
    color:#ffffff;
}
.waterfall_container
{
    margin-top: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    column-count: 2;
}
.waterfall_container_info
{
    padding-bottom: 14px;
}
.address_big{
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    font-family:PingFangSC-Regular;
    font-size:11px;
    color:#a7a7a7;
    text-align:left;
    display: block;
}
.address_small{
    height: 18px;
    line-height: 18px;
    font-family:PingFangSC-Regular;
    font-size:13px;
    color:#474747;
    text-align:left;
    display: block;
}
.avatar_and_name{
    width: 200px;
    height:26px;
    line-height: 26px;
    padding-bottom: 10px;
}
.logo_span{
    width: 26px;
    height:26px;
    margin-top: 6px;
    display: inline-block;
}
.logo_span_radius{
    width: 26px;
    height: 26px;
    border-radius: 26px;
}
.username_span{
    height:26px;
    line-height: 26px;
    margin-left: 4px;
    font-family:PingFangSC-Medium;
    font-size:11px;
    color:#474747;
    text-align:left;
}
.app_download{
  font-family:PingFangSC-Regular;
  font-size:17px;
  color:#ffffff;
  text-align:left;
  height: 45px;
  background-color: blue;
  text-align: center;
  line-height: 45px;
  background:#feb000;
  border-radius:8px;
  height:45px;
  margin-top: 18px;
  margin-bottom: 20px;
}
.waterfall_container div img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/******css end*************************/
