/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
    margin:0;
    font-family: 'hiraginosansgb w3', sans-serif;
}
/*body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}*/
body a, body a:hover{
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;			   
}
p{
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body ul {
    list-style-type: none;
}

.container-share {
    /*    width: 640px;*/
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container-share {
        width: 640px;
    }
}
@media (min-width: 992px) {
    .container-share {
        width: 640px;
    }
}
@media (min-width: 1200px) {
    .container-share {
        width: 640px;
    }
}


container-share{ width: 640px; padding-top: 80px; margin: 0 auto;}
.item{ width: 100%;}
.item-top{ height: 33px; padding: 10px 15px 10px 15px; overflow: hidden;}
.item-top .user{ float: left;}
.item-top .user .avatar{ width: 33px; height: 33px; border-radius: 50%; float: left; margin-right: 12px; overflow: hidden;}
.item-top .user .avatar img{ width: 33px; height: 33px;}
.item-top .user .user-info{ float: left; overflow: hidden;}
.item-top .user .name{ line-height: 16px; color: #202020; font-size: 14px; display: block;}
.item-top .user .time{ line-height: 12px; color: #727272; font-size: 12px;}
.item-top .user .follow{ float: right; right: 0; overflow: hidden;}

.item-top .item-top-r{ float: right; line-height: 28px;}
.item-top .item-top-r .btn-focus{ width: 62px; height: 33px; font-size: 16px; line-height: 33px; text-align: right; overflow:hidden; cursor: pointer; float: right; color: #ae9640;}
.item-top .item-top-r .btn-focus:hover{}
.item-top .item-top-r .btn-focused{ color: #999; padding-left: 14px; background: url("../images/icon-focused.png") no-repeat 0 center; cursor: default;}
.item-main{ width: 100%; margin-bottom: 20px;}
.item-main img{background-color: #E5E5E3; width: 100%;}
.item-main .item-info{ padding: 10px 15px 0px 15px; }
.item-main .item-info .location{ height: 18px; font-size: 12px; line-height: 12px; color: #58bde1; padding-left: 14px; background: url("../images/share/picListMapIc.png") no-repeat; background-size: 11px 18px;}
.item-main .item-info .item-share{ height: 24px; padding: 10px 0; border-bottom: 1px solid #e0e0e0;}
.item-main .item-info .item-share .btn{ float: left; width: 24px; height: 24px; margin-right: 21px; }
.item-main .item-info .item-share .like{background: url("../images/share/picListLikeNormal.png") no-repeat; background-size: 24px 24px;}
.item-main .item-info .item-share .like.on,.item-main .item-info .item-share .like:hover {
    background: url("../images/share/picListLikeSelected.png") no-repeat; background-size: 24px 24px;
}
.item-main .item-info .item-share .reply{background: url("../images/share/picListCommentNormal.png") no-repeat; background-size: 24px 24px;}
.item-main .item-info .item-share .reply.on, .item-main .item-info .item-share .reply:hover {
    background: url("../images/share/picListComSelected.png") no-repeat; background-size: 24px 24px;
}
.item-main .item-info .item-share .collect{background: url("../images/share/picListCollectNormal.png") no-repeat; background-size: 24px 24px;}
.item-main .item-info .item-share .collect.on, .item-main .item-info .item-share .collect:hover { 
    background: url("../images/share/picListCollectSelected.png") no-repeat; background-size: 24px 24px;
}
.item-main .item-info .item-share .share{background: url("../images/share/picListShareNormal.png") no-repeat; background-size: 24px 24px;}
.item-main .item-info .item-share .share.on, .item-main .item-info .item-share .share:hover { 
    background: url("../images/share/picListShareSelected.png") no-repeat; background-size: 24px 24px;
}
.item-main .item-info .item-share .more{ width: 30px; height: 20px; float: right; background: url("../images/icon-more-1.png") no-repeat 0 0; cursor: pointer; position: relative;}
.item-main .item-info .item-share .more:hover .sub{ display: block;}
.item-main .item-info .item-share .more .sub{ display: none; width: 98px; background: #fff; padding: 5px 0; border: 1px solid #dcdcdc; position: absolute; right: 0; top: 20px; z-index: 100;}
.item-main .item-info .item-share .more .sub:before{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px; border-color: transparent transparent #dcdcdc transparent; position: absolute; right: 10px; top: -14px; z-index: 10;}
.item-main .item-info .item-share .more .sub:after{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px; border-color: transparent transparent #fff transparent; position: absolute; right: 10px; top: -13px; z-index: 11;}
.item-main .item-info .item-share .more .sub li{ height: 24px;}
.item-main .item-info .item-share .more .sub li a{ display: block; height: 24px; color: #727272; line-height: 24px; padding-left: 19px; font-size: 12px; width: 79px; margin-right: 0;}
.item-main .item-info .item-share .more .sub li a:hover{ background: #fef39e; color: #333;}
.item-main .item-info .item-count{ line-height: 20px; color: #858585; font-size: 12px; overflow: hidden; padding-top: 12px;}
.item-main .item-info .post-likes{ color: #9a9a9a; padding-left: 15px; background:url("../images/share/picListLikeNumberIc.png") no-repeat; background-size: 17px 18px; float: left; margin-right: 15px;}
.item-main .item-info .post-views{ color: #9a9a9a; padding-left: 15px; background: url("../images/share/picListReadedNumberIc.png") no-repeat; background-size: 19px 18px; float: left;}
.comment-list{ padding: 7px 15px 0px 15px; overflow: hidden; color: #202020; }
.comment-list ul {}
.comment-list li{ padding-top: 3px; padding-bottom: 3px; padding-right: 0px; position: relative; font-size: 14px; line-height: 18px; list-style-type: none;}
.comment-list li .hashtag{ color: #ae9640;}
.comment-list li a.user{ color: #ae9640; text-decoration:none;}
.comment-list li a.user:hover{}
.comment-list li a.btn{ color: #00acc1; font-size: 12px;}
.comment-list li a.more{ color: #9a9a9a; font-size: 14px; line-height: 20px; text-decoration:none; font-style: normal;}
.comment-list li a.more:hover,.comment-list li a.btn:hover{ text-decoration: none;}
.comment-list li a.delete,.comment-list li a.reply{ display: none;}
.comment-list li:hover a.delete,.comment-list li:hover a.reply{ display: inline;}
.comment-list li .date{ width: 52px; height: 20px; line-height: 20px; color: #c2c2c2; font-size: 12px; position: absolute; right: 0; top: 0; text-align: right;}
.comment-box{ line-height: 20px; font-size: 14px; color: #9a9a9a; padding: 5px 0px 0px 0px; font-style: normal;}

.item-footer {padding: 22px 15px 0px 15px; overflow: hidden;}
.item-footer .userinfo {
    padding: 0px 10px 0px 10px;
    background: url("../images/share/picShareIc.png") no-repeat left center; background-size: 5px 5px;
    margin-top: 5px;
}
.item-footer .userinfo .point {
}

.item-footer .userinfo { color: #000; font-style: normal;}
.item-footer .userinfo a.user { color: #ae9640; text-decoration:none; font-style: normal;}
.item-footer .more-pic {
    margin: 0 -1px 10px -1px;
    
}

.item-footer .more-pic table {
    border: 0;
    width : 100%;
}

.item-footer .more-pic td {
    width: 33.33%
}

.item-footer .more-pic img {
    width: 100%;
}

.pc-header {
    height: 50px;
}

#xuanfu_pc
{
    width:100%; height:50px;
    position:fixed; top:0; 
    /*left: 50%; margin-left: -305px;*/
    background-color:#000;
    /*filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;*/
    text-align: center;
    vertical-align: central;
    z-index:99;
}
#xuanfu_in
{
    width:610px; height:40px;
}
#xuanfu
{
    width:100%; height:50px;
    position:fixed; bottom:0; left:0;
    background-color:#2a3044;
    z-index:99;	
}

.footer-share {
    width:100%; 
    height:60px;
    position:fixed;
    bottom:0; 
    left:0;
    background-color: #b1b1b1;
    overflow: hidden;
    z-index:99;	
}

.footer-share .footer-content {
    overflow: hidden;
    padding: 0px 15px 0px 15px;
}
.footer-share .logo {
    float: left;
    height: 46px;
    padding-top: 7px;
    padding-right: 12px;
    overflow: hidden;
}
.footer-share .logo img{ width: 46px; height: 46px;}
.footer-share .footer-info { float: left; overflow: hidden; }
.footer-share .footer-info .name-zh {
    height: 18px;
    line-height: 18px;
    color: #333; 
    font-size: 13px;
    margin-top: 5px;
    display:block;
}
.footer-share .footer-info .name-en { 
    height: 12px; 
    line-height: 12px;
    color: #333; 
    font-size: 11px;
    display:block;
}
.footer-share .footer-info .slogan { 
    height: 18px; 
    line-height: 18px; 
    color: #666; 
    font-size: 11px;
}


/*.item-top{ height: 33px; padding: 10px 15px 10px 15px; overflow: hidden;}
.item-top .user{ }
.item-top .user .avatar{ width: 33px; height: 33px; border-radius: 50%; float: left; margin-right: 12px; overflow: hidden;}
.item-top .user .avatar img{ width: 33px; height: 33px;}
.item-top .user .user-info{ float: left; overflow: hidden;}
.item-top .user .name{ line-height: 16px; color: #202020; font-size: 14px; display: block;}
.item-top .user .time{ line-height: 12px; color: #727272; font-size: 12px;}*/

.footer-share .footer-r {
    float: right;
    height: 28px;
    width: 80px;
    margin-top: 16px;
    line-height: 28px;
    font-size: 13px;
    color: #000;
    text-align: center;
    filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;
    background: url("../images/share/loadingIcBg.png") no-repeat; background-size: 80px 28px;
}


#prompt
{
    width:100%; height:100%;
    position:fixed; top:0; left:0;
    display: none;
    background-color:#000;
    filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
    text-align: right;
    /*vertical-align: central;*/
    z-index:5557;
}

.weiou_click_post:hover,.weiou_click_user:hover {
    cursor:pointer
}


.story-title {
    height:40px; 
    color: #000; 
    margin:20px 0 10px 0;
    text-align: center;
    line-height: 32px; 
    font-size: 32px;
}
.story-subtitle {
    height: 30px;
    color: #666;
    text-align: center;
    line-height: 20px; 
    font-size: 20px;
    margin-bottom: 10px;
}

.item-main { 
    line-height: 12px; 
    font-size: 12px;
}

.item-main  .address{ 
    width: auto;
    text-align: left;
    float: left;
    position:relative;
    margin-right: 100px;
    width: 100%;
    float: left;
}

.item-main  .address .tt{ 
    margin-right: 200px;
}

.item-main .datetime{ 
    text-align: right;
    margin-right: -100%;
    float: right;
    width: 100px;
}

.main {
    width: 100%;
    float: left;
}
.main .content {
    margin-left: 200px;
    background-color: red;
}
.sitebar {
    width: 200px;
    float: left;
    margin-left: -100%;
    background-color: green;
}


.item-main .pic-info .content{ 
    margin-top: 10px;
}