* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.fl {
    float: left;
}

.cl::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
}

.container {
    width: 100%;
    position: relative;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background: lightblue;
}

.right,.left{
    display: inline-block;
}

.right {
    width: calc(100% - 115px);
    display: inline-block;
    font: normal normal 14px/25px "SimSun";
    color: black;
}

.right h2 {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}