@charset "utf-8";

.login-box{ width: 100%; height: 100%; margin-top: 5rem; background: #fefefe;}


.login-box .btn-login{ background: #fdec75; border: 1px solid #e3d77e; border-radius: 0.5rem; cursor: pointer; font-size: 2rem; text-align: center; color: #858585;}
.login-box .btn-login:hover{ background: #fff5b3;}
.login-box input{
    height: 4rem;
}

.login-box .extra{ font-size: 1.5rem; line-height: 2rem; color: #333;}
.login-box .extra a{ color: #00acc1;}
.login-box .extra a:hover{ text-decoration: underline;}

.login-box .save{ line-height: 24px; color: #333;}
.login-box .save label{ cursor: pointer;}
.login-box .save a{ color: #333;}
.login-box .save a:hover{ color: #fff5b3;}

/*.login-box li.phone{ height: 44px; border: 1px solid #eee; border-radius: 3px;}*/
.login-box .country{ float: left; height: 40px; width: 100%; margin: 2px 0 20px 0; position: relative; z-index: 10;}
.login-box .country .country-code{height: 4rem; background: #eaeaea;  line-height: 40px; text-indent: 10px; font-size: 14px; border-radius: 3px; overflow: hidden; cursor: pointer;}
.login-box .country .country-code:after{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 6px; border-color: #b0b0b0 transparent transparent transparent; position: absolute; right: 8px; top: 17px;}
.login-box .country .country-code.expand:after{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 6px; border-color: transparent transparent #b0b0b0 transparent; position: absolute; right: 8px; top: 11px;}
.login-box .country .country-list{ display: none; width: 244px; padding: 5px 10px; border: 1px solid #dcdcdc; position: absolute; left: -3px; top: 42px; background:#fff;}
.login-box .country .country-list:before{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px; border-color: transparent transparent #dcdcdc transparent; position: absolute; left: 22px; top: -14px; z-index: 10;}
.login-box .country .country-list:after{ content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 7px; border-color: transparent transparent #fff transparent; position: absolute; left: 22px; top: -13px; z-index: 11;}
.login-box .country .country-list .country-search{ border-bottom: 1px solid #dcdcdc;}
.login-box .country .country-list .country-search input{ display: block; line-height: 24px; outline: none; width: 244px; border: none;}
.login-box .country .country-list ul{ height: 120px; overflow-y: scroll;}
.login-box .country .country-list li{ height: 24px; margin-bottom: 0; cursor: pointer; display: block; color: #858585; line-height: 24px; font-size: 12px;}
.login-box .country .country-list li span{ margin-left: 10px;}
.login-box .country .country-list li.on,
.login-box .country .country-list li:hover{ background: #fef39e; color: #333;}
.login-box .form-input{ float: left; width: 214px; height: 24px; line-height: 24px; padding: 10px 8px; border: none;}


.login-box .tip{ font-size: 1.8rem; line-height: 2.5rem; color: #999; text-align: center; margin-top: 8rem;}
.login-box .tip a{ color: #00acc1;}
.login-box .tip a:hover{ text-decoration: underline;}


.login-sns .sns-tips {margin-top: 20px; margin-bottom: 15px; background:no-repeat url("/images/dividerLogin.png") bottom center; text-align: center;}
.login-sns .btns { width:100%;  margin-left: auto; margin-right: auto; float: left; overflow: hidden; }
.login-sns .btns .btn { width: 33.33%; text-align: center; float: left; }
.login-sns .btns .btn .icon { width: 50px; height: 50px; cursor: pointer; margin-left: 35px; border-radius:25px;}
/*.login-sns .btns .btn .icon.icon-qq { width: 63px; height: 24px; cursor: pointer; margin-left: 24px; border-radius:0px; background: url("/images/ConnectQQLogin.png") no-repeat; background-size: 63px;}*/
.login-sns .btns .btn .icon.icon-qq { background: url("/images/QQLoginIcon.png") no-repeat; background-size: 50px;}
.login-sns .btns .btn .icon.icon-weixin { background: url("/images/weiXinLoginIcon.png") no-repeat; background-size: 50px; }
.login-sns .btns .btn .icon.icon-weibo { background: url("/images/weiboLoginIcon.png") no-repeat; background-size: 50px; }
/*.login-sns .btns .btn .icon.icon-weibo { width: 102px; height: 24px; cursor: pointer; margin-left: 4px; border-radius:0px; 
             background: url("/images/weiboLoginButton_24.png") no-repeat; background-size: 102px;
}*/
.login-box .yz-img{ width: 90px;height: 44px; float: left; margin-left: 5px; border-radius: 3px; overflow: hidden; cursor: pointer;}
.login-box .yz-call{ width: 90px; height: 44px; float: left; margin-left: 5px; border: 0px; border-radius: 3px; text-align: center; background: #757575; color: #fff; cursor: pointer;}
.login-box .yz-call:hover{ background: #333; }