@charset 'utf-8';
/* CSS reset */
html{color:#000000;background:#fafafa;font-family:'Microsoft YaHei',Arial;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei',Arial;}
table{border-collapse:collapse;border-spacing:0;}
em,i,strong {font-style: normal;}
li{list-style:none;}
fieldset,img{border:0;}
input {border: 0;outline: none;background: none;}
input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-modify:read-write-plaintext-only;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{text-decoration:none; color:#000000; outline:none;}/*此处待添加默认链接颜色*/
.clearfix:after {content: "\200B";display: block;height: 0;overflow: hidden;clear: both;}
.clearfix {*zoom: 1;}
/*自定义*/
a{ text-decoration: none; outline: none; }
a:link,a:visited{color: #f0ad4e;}